data_lifecycle_management/sample.json
[{"id":"acda2189.d414b","type":"tab","label":"Portal","disabled":false,"info":""},{"id":"45f39104.bd2cf8","type":"tab","label":"Governance Policies","disabled":false,"info":""},{"id":"d880c5c.a239438","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9d9f4567.9c3a78","type":"http in","z":"acda2189.d414b","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["7a025ab9.56bdbc"]]},{"id":"7a025ab9.56bdbc","type":"template","z":"acda2189.d414b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h2>Data Lifecycle Management</h2>\n        <p>\n            IBM Cloud Private for Data has a governance catalog that allows customers and partners to store business and technical metadata.\n        </p>\n        This includes :<br>\n        Business metadata <br>\n        <ul>\n            <li>Categories</li>\n            <li>Terms</li>\n            <li>Information Governance Policies</li>\n            <li>Information Governance Rules</li>\n        </ul>\n        <br>\n        <br>\n        Technical metadata <br>\n        <ul>\n            <li>Hosts</li>\n            <li>Databases</li>\n            <li>Schemas</li>\n            <li>Tables</li>\n            <li>Columns</li>\n            <li>Files</li>\n            <li>.....etc</li>\n            <li>Custom Technical Assets</li>\n        </ul>\n        <p>\n            Customers/Partners can now leverage this information in the catalog and act on it based on pre-defined rules. In this sample application we demonstrate how one can search for Governance Policies and the associated Rules and then pick from a series of possible actions to undertake when it finds certain governance rules. As an example, one might have a corporate governance policy around data lifecycle management that would dictate regular backups onto a prescribed storage.  \n        </p>\n        <p>\n            Click <a href=\"/searchPolicies\">here</a> to start looking at existing Governance Policies\n        </p>\n    </body>\n</html>","output":"str","x":340,"y":180,"wires":[["a13b6296.37591"]]},{"id":"a13b6296.37591","type":"http response","z":"acda2189.d414b","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"20e7b85e.a8aee8","type":"http in","z":"45f39104.bd2cf8","name":"","url":"/searchPolicies","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["731ef6c1.759a4"]]},{"id":"216b8f90.1bdf9","type":"http response","z":"45f39104.bd2cf8","name":"","statusCode":"","headers":{},"x":510,"y":80,"wires":[]},{"id":"731ef6c1.759a4","type":"template","z":"45f39104.bd2cf8","name":"Search Screen Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n    <form method=\"post\" action=\"/searchResults\" target=\"frmResults\">\n        <table>\n            <tr>\n                <td>Policy name: <input type=\"text\" id=\"txtPolicy\" name=\"txtPolicy\"></td>\n            </tr>\n        </table>\n    </form>\n    <table width=\"100%\" height=\"70%\">\n        <tr>\n            <td>\n                <iframe id=\"frmResults\" name=\"frmResults\" height=\"100%\" width=\"100%\"></iframe>\n            </td>\n            <td>\n                <iframe id=\"frmRules\" name=\"frmRules\" height=\"100%\" width=\"100%\"></iframe>\n            </td>\n        </tr>\n        <tr>\n            <td colspan=\"2\">\n                <iframe id=\"frmSelRules\" name=\"frmSelRules\" height=\"100%\" width=\"100%\" src=\"/selRules\"></iframe>\n            </td>\n        </tr>\n    </table>\n    </body>\n</html>","output":"str","x":350,"y":40,"wires":[["216b8f90.1bdf9"]]},{"id":"138c8f9.92275f","type":"http in","z":"45f39104.bd2cf8","name":"","url":"/searchResults","method":"post","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["5788d807.bc9698"]]},{"id":"d0676832.b601d8","type":"http response","z":"45f39104.bd2cf8","name":"","statusCode":"","headers":{},"x":730,"y":260,"wires":[]},{"id":"343ad227.470d46","type":"debug","z":"45f39104.bd2cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":520,"wires":[]},{"id":"5788d807.bc9698","type":"function","z":"45f39104.bd2cf8","name":"Create Search POST URL","func":"msg.url=\"https://fiocchi-master-1.fyre.ibm.com:30924/ibm/iis/igc-rest/v1/search/?types=information_governance_policy&text=\" + msg.payload.txtPolicy + \"&search-properties=name\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["ab42380d.0a7d68"]]},{"id":"ab42380d.0a7d68","type":"http request","z":"45f39104.bd2cf8","name":"Search POST Request","method":"GET","ret":"obj","url":"","tls":"","x":180,"y":260,"wires":[["f80c9f6f.7ae728"]]},{"id":"f80c9f6f.7ae728","type":"function","z":"45f39104.bd2cf8","name":"Create Policy Listing UI","func":"var tblOutput=\"<html><body>\";\ntblOutput=tblOutput+\"<script language='JavaScript'>\";\ntblOutput=tblOutput+\"function selectPolicy(policyID){document.all.frmPolicy.hidPolicyID.value=policyID;document.all.frmPolicy.submit();}\";\ntblOutput=tblOutput+\"</script>\";\ntblOutput=tblOutput+\"<form id='frmPolicy' name='frmPolicy' method='post' action='/rulePatterns' target='frmRules'><input type='hidden' id='hidPolicyID' name='hidPolicyID'>\"; \ntblOutput=tblOutput+\"<h2> Available policies </h2>\";\ntblOutput=tblOutput+\"<table width='100%'>\";\nvar bgColor=\"\";\nfor(var x=0;x<msg.payload.items.length;x++)\n{\n    if(x%2==0) {\n        bgColor=\"#C0C0C0\";\n    }else{\n        bgColor=\"#ffffff\";\n    }\n    tblOutput=tblOutput+\"<tr style='background-color:\"+ bgColor + \";cursor:pointer' onclick=\\\"JavaScript:selectPolicy(\\'\"+msg.payload.items[x]._id+\"\\');\\\"><td>\"+msg.payload.items[x]._name +\"</td></tr>\";  \n}\ntblOutput=tblOutput+\"</table></form></body></html>\";\nmsg.payload=tblOutput;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["d0676832.b601d8"]]},{"id":"8ed4e4f.5c7eb18","type":"http in","z":"45f39104.bd2cf8","name":"","url":"/rulePatterns","method":"post","upload":false,"swaggerDoc":"","x":160,"y":340,"wires":[["bd35393d.7f8c2"]]},{"id":"71280187.b8b5b","type":"http response","z":"45f39104.bd2cf8","name":"","statusCode":"","headers":{},"x":810,"y":520,"wires":[]},{"id":"3e2c2d10.bba79a","type":"function","z":"45f39104.bd2cf8","name":"Rule Patterns","func":"if(msg.payload.hasOwnProperty(\"information_governance_rules\")) {\n    var rulesText=\"<select id='selRule' name='selRule'>\";\n    var govRules = msg.payload.information_governance_rules.items.length;\n    for(var y=0;y<msg.payload.information_governance_rules.items.length;y++)\n    {\n        rulesText=rulesText+\"<option value='\"+msg.payload.information_governance_rules.items[y]._name+\"'>\"+msg.payload.information_governance_rules.items[y]._name+\"</option>\";\n    }\n    rulesText=rulesText+\"</select>\";\n\nvar jsFunc=\"<script language='JavaScript'>\";\njsFunc=jsFunc+\"this.items = [];\";\njsFunc=jsFunc+\"function  add(item) {\";\njsFunc=jsFunc+\"    if(this.items.indexOf(item) <= -1) {\";\njsFunc=jsFunc+\"      this.items.push(item);\";\njsFunc=jsFunc+\"    }\";\njsFunc=jsFunc+\"    localStorage.setItem('items', this.items);\";\njsFunc=jsFunc+\"}\";\n\njsFunc=jsFunc+\"function selAction(x){\";\njsFunc=jsFunc+\"if(x==1){\";\njsFunc=jsFunc+\"     add(document.all.selRule.value+'=====>'+document.all.action1.value);\"\njsFunc=jsFunc+\"}\";\njsFunc=jsFunc+\"if(x==2){\";\njsFunc=jsFunc+\"     add('two');\"\njsFunc=jsFunc+\"}\";\njsFunc=jsFunc+\"if(x==3){\";\njsFunc=jsFunc+\"     add('three');\"\njsFunc=jsFunc+\"}\";\njsFunc=jsFunc+\"document.all.formSelRules.submit();\";\njsFunc=jsFunc+\"}</script>\";\n\nvar txtOutput=\"<html>\";\ntxtOutput=txtOutput+\"    <body>\"+jsFunc;\ntxtOutput=txtOutput+\"    <form id='formSelRules' name='formSelRules' target='frmSelRules' action='/selRules'></form>\";\ntxtOutput=txtOutput+\"    <form>\";\ntxtOutput=txtOutput+\"        <table height='60%'>\";\ntxtOutput=txtOutput+\"            <tr><td>If Governance Rule \"+rulesText+\" exists apply action divContainsAction1 <button type='button' onclick='JavaScript:selAction(1);'>Add</button></td></tr>\";\ntxtOutput=txtOutput+\"            <tr><td>If Governance Rule starts with <input type=\\\"text\\\" id=\\\"txtStarts\\\" name=\\\"txtStarts\\\" > apply action divContainsAction2 <button type='button' onclick='JavaScript:selAction(2);'>Add</button></td></tr>\";\ntxtOutput=txtOutput+\"            <tr><td>If Governance Rule contains with <input type=\\\"text\\\" id=\\\"txtContains\\\" name=\\\"txtContains\\\" > apply action divContainsAction3 <button type='button' onclick='JavaScript:selAction(3);'>Add</button></td></tr>\";\ntxtOutput=txtOutput+\"        </table>\";\ntxtOutput=txtOutput+\"    </form>\";\ntxtOutput=txtOutput+\"    </body>\";\ntxtOutput=txtOutput+\"</html>\";\n}else{\n    txtOutput=\"<html><body>Sorry, No Governance Rules available for the selected Policy</body></html>\";\n}\nmsg.payload=txtOutput;\nglobal.set(\"rulePatterns\",txtOutput);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["e7692623.9a80e"]]},{"id":"bd35393d.7f8c2","type":"function","z":"45f39104.bd2cf8","name":"Get Policy Information","func":"var policyID=msg.payload.hidPolicyID;\n\nmsg.url=\"https://fiocchi-master-1.fyre.ibm.com:30924/ibm/iis/igc-rest/v1/assets/\" + policyID;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["bfdfc104.ef3dd8"]]},{"id":"bfdfc104.ef3dd8","type":"http request","z":"45f39104.bd2cf8","name":"Get list of Governance Rules","method":"GET","ret":"obj","url":"","tls":"","x":200,"y":420,"wires":[["3e2c2d10.bba79a"]]},{"id":"80e76232.4d1c5","type":"file in","z":"acda2189.d414b","name":"","filename":"/root/samples/icpd_api_samples/data_lifecycle_management/action.csv","format":"utf8","chunk":false,"sendError":false,"x":520,"y":280,"wires":[["685f1e72.0da1"]]},{"id":"685f1e72.0da1","type":"csv","z":"acda2189.d414b","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":150,"y":380,"wires":[["6f3a1c19.6cab7c"]]},{"id":"242ac07d.96a62","type":"http in","z":"acda2189.d414b","name":"","url":"/getActions","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["80e76232.4d1c5"]]},{"id":"6f3a1c19.6cab7c","type":"function","z":"acda2189.d414b","name":"","func":"var selActions=\"<select>\";\nvar actionArray = msg.payload;\nfor(var x=0;x<actionArray.length;x++){\n    selActions=selActions+\"<option>\"+actionArray[x].col1+\"</option>\";    \n}\nselActions=selActions+\"</select>\";\nmsg.payload=selActions;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["1b620a4f.5cddfe","fbecba79.9caf28"]]},{"id":"2011575d.d74098","type":"inject","z":"acda2189.d414b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["80e76232.4d1c5"]]},{"id":"1b620a4f.5cddfe","type":"debug","z":"acda2189.d414b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":500,"wires":[]},{"id":"fbecba79.9caf28","type":"http response","z":"acda2189.d414b","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"e7692623.9a80e","type":"file in","z":"45f39104.bd2cf8","name":"actions","filename":"/root/samples/icpd_api_samples/data_lifecycle_management/action.csv","format":"utf8","chunk":false,"sendError":false,"x":660,"y":380,"wires":[["17b431c9.daa966"]]},{"id":"999b3dfc.18ac28","type":"function","z":"45f39104.bd2cf8","name":"","func":"var rulePatterns = global.get(\"rulePatterns\");\nvar actionItems1 = global.get(\"actions1\");\nvar actionItems2 = global.get(\"actions2\");\nvar actionItems3 = global.get(\"actions3\");\n\nrulePatterns=rulePatterns.replace(/divContainsAction1/g, actionItems1);\nrulePatterns=rulePatterns.replace(/divContainsAction2/g, actionItems2);\nrulePatterns=rulePatterns.replace(/divContainsAction3/g, actionItems3);\n\nmsg.payload= rulePatterns;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["71280187.b8b5b"]]},{"id":"17b431c9.daa966","type":"csv","z":"45f39104.bd2cf8","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"action_name, action_endpoint","skip":"0","x":250,"y":520,"wires":[["343ad227.470d46","43b8ee67.44f398"]]},{"id":"43b8ee67.44f398","type":"function","z":"45f39104.bd2cf8","name":"Save actions","func":"var selActions=\"\";\nvar actionArray = msg.payload;\nfor(var x=0;x<actionArray.length;x++){\n    selActions=selActions+\"<option value='\"+actionArray[x].action_endpoint+\"'>\"+actionArray[x].action_name+\"</option>\";    \n}\nglobal.set(\"actions1\",\"<select id='action1' name='action1'>\"+selActions+\"</select>\");\nglobal.set(\"actions2\",\"<select id='action2' name='action2'>\"+selActions+\"</select>\");\nglobal.set(\"actions3\",\"<select id='action3' name='action3'>\"+selActions+\"</select>\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["999b3dfc.18ac28"]]},{"id":"ac567654.981ed8","type":"http in","z":"acda2189.d414b","name":"","url":"/selRules","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["59d67eaf.4859d"]]},{"id":"e76466c0.41f498","type":"http response","z":"acda2189.d414b","name":"","statusCode":"","headers":{},"x":600,"y":660,"wires":[]},{"id":"59d67eaf.4859d","type":"function","z":"acda2189.d414b","name":"","func":"var htmlOutput=\"\";\n\nhtmlOutput=htmlOutput+\"<html><body><div id='tblDiv' name='tblDiv'></div>\";\nhtmlOutput=htmlOutput+\"<script language='JavaScript'>\";\nhtmlOutput=htmlOutput+\"var selRules=localStorage.getItem('items').split(',');\";\nhtmlOutput=htmlOutput+\"var rulesTable='<table>';\";\nhtmlOutput=htmlOutput+\"for(x=0;x<selRules.length;x++){\";\nhtmlOutput=htmlOutput+\"     rulesTable=rulesTable+'<tr><td>'+selRules[x]+'</td></tr>';\";\nhtmlOutput=htmlOutput+\"}\";\nhtmlOutput=htmlOutput+\"document.all.tblDiv.innerHTML=rulesTable+'</table>';\";\nhtmlOutput=htmlOutput+\"alert(document.all.tblDiv.innerHTML);\";\nhtmlOutput=htmlOutput+\"</script>\";\n\nhtmlOutput=htmlOutput+\"</body></html>\";\nmsg.payload=htmlOutput;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["e76466c0.41f498"]]}]